{% extends 'TPUserBundle::base.html.twig' %}

{% block body -%}
    <h1>UserGroup list</h1>

    <table class="records_list table">
        <thead>
            <tr>
                <th>Name</th>
                {#<th>Roles</th>#}
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('usergroup_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                {#<td>{{ entity.roles }}</td>#}
                <td>{{ entity.id }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('usergroup_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('usergroup_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('usergroup_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
